@{
    ViewBag.Title = "Home Page";
}
<button class="linkButton" onclick="location.href = '/Idea/Create'">Создать идею</button>
@Html.ActionLink("tmp", "Index", "Idea")
<table class="table_blur">
    <tr>
        <th>Название</th>
        <th>Описание</th>
    </tr>
    @foreach (var idea in ViewBag.ListOfIdeas)
    {
        <tr>
            <td><a href="/Idea/Index?id=@idea.id">@idea.title</a></td>
            <td>@idea.description</td>
        </tr>
    }
    
</table>
